{% extends 'template.html' %}

{# Place the content for the cellContent1 in this block #}
{% block cellContent1 %}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi erat lorem, mollis at orci in, blandit malesuada lectus. Maecenas at turpis scelerisque, tincidunt libero quis, commodo nisi. Cras faucibus tincidunt enim vel sagittis. Sed ornare sapien ante, at luctus magna egestas vel. Sed auctor efficitur sodales. Sed ornare porttitor risus. Fusce lacus lacus, tempor a dui ut, vulputate ultricies ante. Integer varius, eros a auctor pulvinar, leo purus consectetur tortor, non ultrices ante urna quis enim. Nam massa nisi, congue vitae enim ut, tempor congue enim. Fusce vel ultrices ligula, non molestie massa.
    </p>
{% endblock %}

{# Place the content for the cellContent2 in this block #}
{% block cellContent2 %}
    <div class="imagetext"> <!-- Cell 2 -->
        <img src="/static/Images/Ngunnawal%20Tree.jpg">
            <div class="TextonImage">
                Coonancoocabil Lagoon in the Murrumbidgee Valley National Park
            </div>
        </div>
        <div><!-- 3 -->
            <p>Integer sed luctus ligula. Maecenas bibendum eros quis vulputate sagittis. Vestibulum tortor quam, pulvinar eget rhoncus a, gravida at sem. Curabitur in libero mi. Vestibulum mi turpis, ullamcorper in eleifend at, pharetra sed enim. Nam mattis mollis nunc, nec ornare ante varius et. Integer quis lacinia nisi. Proin dapibus quam ac ligula placerat tincidunt. Quisque pharetra elementum dui non dapibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum blandit faucibus eleifend. Nunc elit mauris, pharetra quis enim eget, faucibus sodales metus. Vestibulum iaculis ultrices metus, id semper enim hendrerit a. Quisque molestie diam et aliquet finibus.
            </p>
        </div>
{% endblock %}

{# Place the content for the cellContent3 in this block #}
{% block cellContent3 %}
     <h1>Beginning</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse felis nunc, maximus ac varius sit amet, accumsan sit amet felis. Quisque consequat feugiat nulla, quis euismod erat suscipit quis. Mauris eget lacus ac ipsum tristique mollis a eu est. Nulla malesuada, quam nec bibendum hendrerit, leo augue posuere sapien, in condimentum arcu magna quis neque. Nulla laoreet tristique ullamcorper. Duis sed arcu purus. Sed massa enim, fringilla eget blandit a, mollis id est. Ut dignissim nunc sed enim facilisis, sed dignissim nisl aliquet. Donec neque eros, viverra ut leo sed, pellentesque aliquet nibh. Vestibulum vel congue nisi, quis pretium quam. Cras condimentum tincidunt maximus. Vestibulum odio neque, vulputate nec dictum at, molestie facilisis magna. Nunc ullamcorper tempor malesuada.
    </p>
    <h1>Middle</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse felis nunc, maximus ac varius sit amet, accumsan sit amet felis. Quisque consequat feugiat nulla, quis euismod erat suscipit quis. Mauris eget lacus ac ipsum tristique mollis a eu est. Nulla malesuada, quam nec bibendum hendrerit, leo augue posuere sapien, in condimentum arcu magna quis neque. Nulla laoreet tristique ullamcorper. Duis sed arcu purus. Sed massa enim, fringilla eget blandit a, mollis id est. Ut dignissim nunc sed enim facilisis, sed dignissim nisl aliquet. Donec neque eros, viverra ut leo sed, pellentesque aliquet nibh. Vestibulum vel congue nisi, quis pretium quam. Cras condimentum tincidunt maximus. Vestibulum odio neque, vulputate nec dictum at, molestie facilisis magna. Nunc ullamcorper tempor malesuada.
    </p>
    <h1>End</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse felis nunc, maximus ac varius sit amet, accumsan sit amet felis. Quisque consequat feugiat nulla, quis euismod erat suscipit quis. Mauris eget lacus ac ipsum tristique mollis a eu est. Nulla malesuada, quam nec bibendum hendrerit, leo augue posuere sapien, in condimentum arcu magna quis neque. Nulla laoreet tristique ullamcorper. Duis sed arcu purus. Sed massa enim, fringilla eget blandit a, mollis id est. Ut dignissim nunc sed enim facilisis, sed dignissim nisl aliquet. Donec neque eros, viverra ut leo sed, pellentesque aliquet nibh. Vestibulum vel congue nisi, quis pretium quam. Cras condimentum tincidunt maximus. Vestibulum odio neque, vulputate nec dictum at, molestie facilisis magna. Nunc ullamcorper tempor malesuada.
    </p>
{% endblock %}

{% block cellContent4 %}
Footer
{% endblock %}