<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title}}</title>
    <link rel="stylesheet" href="/static/Ngunnawal.css">
    {% block pageStyle %}
    {% endblock %}
</head>
<body>
<!-- Navbar -->
<div class="navbar">
    <a href="Index.html">Home</a>
    <a href="Profile.html">Profile and Contacts</a>
    <a href="Image Gallery.html">Image Gallery</a>
    <a href="History.html">History and Info</a>
    <form><p><label for="search"></label>
        <input type="text" id="search" name="search">
        <button onclick="authentication(this.form)">Search</button></p>
    </form>
    <img src="/static/Images/Ngunnawal%20Banner%20Logo.png" width="535" height="168">
</div>

<div class="gridcon"> <!-- Overall -->
    <div class="full-width">
        <h1 style="...">{{ title }}</h1>
    </div>
    <div> <!-- Cell 1 -->
        {% block cellContent1 %} {% endblock %}
    </div>
    <div><!-- Column 2 -->
        <div class="imagetext"> <!-- Cell 2 -->
            {% block cellContent2 %} {% endblock %}
            </div>
        </div>
        <div><!-- 3 -->
           {% block cellContent3 %} {% endblock %}
        </div>
    </div>
</div>
<footer class="footer">
    {% block cellContent4 %} {% endblock %}
</footer>
</body>
</html>